<!-- home/templates/home/about.html -->
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link defer rel="stylesheet" href="{% static 'css/home.css' %}"/>
        <script src="{% static 'js/about.js' %}" defer></script>
        <title>Presentation</title>
    </head>
<body>{% include 'pages/base.html' %}
    {% block content %}
    <section class="container">
       <section>
        <h2 class="pres">Presentation</h2>
        <div id="main-about"></div>
    </section>

    <section>
        <h2 class="pres">Presentation Julien</h2>
        <div id="about-julien"></div>
    </section>

    <section>
        <h2 class="pres">Presentation Chanth</h2>
        <div id="about-chanth"></div>
    </section>
    </section>
    <!-- Embed about data as JSON in a script tag -->
        {{ about_data|json_script:"about-data" }}


{% endblock %}
