<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
    <title>contact</title>
</head>
<body>{% include 'pages/base.html' %}
{% block content %}
<h1 style="text-align: center;">Contact</h1>

{% if success_message %}
        <div class="success-message" style="text-align: center;">
            {{ success_message }}
        </div>
    {% endif %}

 <form method="post" action="{% url 'Chanth:contact' %}" style="text-align: center;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Envoyer</button>
    </form>
</body>
{% endblock %}
